# Configuration file

####################
# block
####################

block {
    I:Bookcase=1071
    I:Bookcase2=1072
    I:Desk=1073
    I:Desk2=1074
    I:DisplayCaseSet0=1075
    I:DisplayCaseSet1=1076
    I:DisplayCaseSet2=1077
    I:DisplayCaseSet3=1078
    I:DisplayCaseSet4=1079
    I:DisplayCaseSet5=1080
    I:Label=1081
    I:Label2=1082
    I:PotionShelf=1083
    I:PotionShelf2=1084
    I:Shelf=1085
    I:Shelf2=1086
    I:Table=1087
    I:Table2=1088
    I:ToolRack=1089
    I:ToolRack2=1090
}


