# Configuration file

####################
# hud settings
####################

"hud settings" {
    B:"Display hud"=true
    I:hudPosition=1
}


####################
# items
####################

items {
    I:advChainsawID=7111
    I:advDDrillID=7112
    I:advJetpackID=7113
    I:advLappackID=7114
    I:advNanoChestPlateID=7115
    I:graviChestPlateID=7116
    I:graviToolID=7117
    I:otherItemsID=7118
    I:ultimateLappackID=7119
    I:ultimateSolarHelmetID=7120
    I:vajraID=7121
}


####################
# recipes settings
####################

"recipes settings" {
    B:"Disable Advanced Chainsaw recipe"=false
    B:"Disable Advanced Dimond Drill recipe"=false
    B:"Disable Advanced Jetpack recipe"=false
    B:"Disable Advanced NanoChestPlate recipe"=false
    B:"Disable AdvancedLappack recipe"=false
    B:"Disable GraviChestPlate recipe"=false
    B:"Disable GraviTool recipe"=false
    B:"Disable UltimateLappack recipe"=false
    B:"Disable UltimateSolarHelmet recipe"=false
    B:"Disable Vajra recipe"=false
}


####################
# sounds settings
####################

"sounds settings" {
    B:"Disable all sounds"=false
}


####################
# vajra settings
####################

"vajra settings" {
    B:"Disable Vajra accurate mode"=false
}


